.Jeux {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.image_jeuxFF {
  height: 57vh;
  width: 38vw;
}
.jeux_desc {
  display: flex;
  align-items: center;
  text-align: justify;
  gap: 7vw;
}

section.text_jeux {
  width: 30vw;
}

a.lien_achat {
  text-decoration: none;
  color: black;
}
